.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: auto; */
  width: 100vw;
}
.content {
  position: absolute;
  height: 100%;
  left: 150px;
  width: calc(100vw - 150px);
}
@media screen and (max-width: 1750px) {
  .content {
    position: relative;
    left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 1180) {
  .App {
    height: auto !important;
  }
  .content {
    height: auto !important;
  }
}
